*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    background-color: #0d0d0d;
    color: #fff;
}
.background {
    position: fixed;
    object-fit: cover;
    opacity: 0.2;
    z-index: -1;

    img {
    width: auto;
    height: 125vh;
}
}

.animatedheader-5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #4d094d8f;
    color: #fff;

    .animatedlogo5 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;

        &:hover {

            .logo {
                transform: scale(1.5);
            }
      
            h1 {
              color: #ffffff;
              transform: translateX(-100px);
            }
          }
        }
          .logo{
            height: 50px;
            padding: 0.2rem 0;
            transition: all 0.5s ease;
          }
      
          h1 {
            color: transparent;
            transform: translateX(-5rem);
            transition: all 0.5s ease;
          }
    
    
        nav ul {
        display: flex;
        list-style: none;
    }
    
        nav ul li {
        margin-right: 20px;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(0.8);
    }
}
        nav ul li a {
        font-weight: 600;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {   
            color:rgba(1, 255, 22, 0.712); 
    }
}
}


.credits {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


        h1 {
            margin-top: 20rem;
        color: #00ff00;
    }

    .logos {
        display: flex;
        gap: 50px;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 20rem;

        a{
   
        width: 100px;
        height: 100px;
        align-content: center;
    }

        img {
        background-color: #223a224b;
        max-width: 250%;
        max-height: 100%;
        transition: all 0.8s ease;  
        border-radius: 5px;
                &:hover{
                    background-color: #00ff00;
                transform: scale(1.1);
                box-shadow: 0 0 15px rgb(1, 255, 22);
            }
    }
}
}


.footer {
    display: absolute;
    background-color: #1a1a1a;
    color: #00ff00;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}
