*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    background-color: #0d0d0d;
    color: #fff;
}
.background {
    position: fixed;
    object-fit: cover;
    opacity: 0.2;
    z-index: -1;

    img {
    width: auto;
    height: 125vh;
}
}


.animatedheader-5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #4d094d8f;
    color: #fff;

    .animatedlogo5 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;

        &:hover {

            .logo {
                transform: scale(1.5);
            }
      
            h1 {
              color: #ffffff;
              transform: translateX(-100px);
            }
          }
        }
          .logo{
            height: 50px;
            padding: 0.2rem 0;
            transition: all 0.5s ease;
          }
      
          h1 {
            color: transparent;
            transform: translateX(-5rem);
            transition: all 0.5s ease;
          }
    
    
        nav ul {
        display: flex;
        list-style: none;
    }
    
        nav ul li {
        margin-right: 20px;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(0.8);
    }
}
        nav ul li a {
        font-weight: 600;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {   
            color:rgba(1, 255, 22, 0.712); 
    }
}
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 20px;

    .container {
    display: flex;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    max-width: 900px;
    box-shadow: 0 0 10px rgba(1, 255, 22, 0.486);


    .profile-left {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;


        img {
            width: 10rem;
            border-radius: 20px;
            transition: all 0.8s ease;

                &:hover{
                transform: scale(1.1);
                box-shadow: 0 0 15px rgb(1, 255, 22);
            }
        }
        }
    .profile-right {
        flex: 2;
        padding: 20px;


            h1 {
            color: #00ff00;
            font-size: 2rem;
            margin-bottom: 10px;
        }

            h2 {
            font-size: 1.5rem;
            margin-bottom: 20px;
        }

            p {
            font-size: 1rem;
            line-height: 1.5;
            margin-bottom: 20px;
        }
        }
        .social-icons {
            display: flex;
            gap: 20px;


            a img {
                width: 30px;
                height: 30px;
                background-color: #11d864;
                border-radius: 15px;
                transition: all 0.8s ease;
                
                &:hover{
                    transform: scale(1.1);
                    box-shadow: 0 0 5px rgb(1, 255, 22);
                }
    }
    }
    }
    }


    .footer {
        margin-top: 5.78rem;
        background-color: #1a1a1a;
        color: #00ff00;
        text-align: center;
        padding: 10px 0;
        width: 100%;
    }
