*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    background-color: #0d0d0d;
    color: #fff;
    width: 100%;
}
.background {
    position: fixed;
    object-fit: cover;
    opacity: 0.2;
    z-index: -1;
    


    img {
    width: auto;
    height: 125vh;
}
}

.animatedheader-5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #4d094d8f;
    color: #fff;

    .animatedlogo5 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;

        &:hover {

            .logo {
                transform: scale(1.5);
            }
      
            h1 {
              color: #ffffff;
              transform: translateX(-100px);
            }
          }
        }
          .logo{
            height: 50px;
            padding: 0.2rem 0;
            transition: all 0.5s ease;
          }
      
          h1 {
            color: transparent;
            transform: translateX(-5rem);
            transition: all 0.5s ease;
          }
    
    
        nav ul {
        display: flex;
        list-style: none;
    }
    
        nav ul li {
        margin-right: 20px;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(0.8);
    }
}
        nav ul li a {
        font-weight: 600;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {   
            color:rgba(1, 255, 22, 0.712); 
    }
}
}

.hero{
    border-radius: 10px;
    padding: 10px;

    .contact-info{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;  
    
    }

    .contact-item {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        gap: 10rem;
        max-width: 80rem;

        img{
            
            height: 5rem;
            margin-bottom: 10px;
            transition: all 0.8s ease;
            border-radius: 5px;

                &:hover {
                background-color: #11d864;
                transform: scale(1.1);
                box-shadow: 0 0 15px rgb(1, 255, 22);
            }
         }
    }

    h1{
        margin-bottom: 15rem;
        color: #ffffff;
        text-align: center;
    }

    h4{
        text-align: center;
        font-size: 10px;
    }
    
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    
    .social-icons {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;


    a img {
        flex-wrap: wrap;
        max-width: 30px;
        height: auto;
        background-color: #11d864;
        border-radius: 15px;
        transition: all 0.8s ease;
        
        &:hover{
            transform: scale(1.1);
            box-shadow: 0 0 5px rgb(1, 255, 22);
        }
}
}
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 9.1rem;  

form {
    display: flex;
    flex-direction: column;
}

form input {
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
form textarea{
    border: none;
    padding: 20px;
    border-radius: 5px;
}

form button {
        padding: 10px;
        border: none;
        margin: 10px 10rem;
        border-radius: 5px;
        background-color: #3fff3fab;
        color: #000000;
        cursor: pointer;
        transition: all 0.8s ease;
        margin-bottom: 9rem;


        &:hover {
        background-color: #11d864;
        transform: scale(1.1);
        box-shadow: 0 0 15px rgb(1, 255, 22);
    }
    }
}

.footer {
    margin-top: 1rem;
    background-color: #1a1a1a;
    color: #00ff00;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
